<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>피자 추가</title>
    <link rel="icon" href="/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/css/pizza-style.css">
</head>
<body>
<div class="container">
    <h1>피자 추가</h1>
    <form id="add-pizza-form" enctype="multipart/form-data">

        <div class="image-preview">
            <p>
                <strong>이미지 : </strong>
                <input type="file" id="image" name="image" accept="image/*">
                <img id="pizza-img" src="" alt="이미지 미리보기"
                     style="max-width: 150px; display: none;">
            </p>
        </div>
        <p>
            <strong>이름 : </strong>
            <input type="text" id="pizza-name" name="name">
        </p>
        <p>
            <strong>가격 : </strong>
            <input type="number" id="pizza-price" name="price">
        </p>
        <p>
            <strong>설명 : </strong>
            <input type="text" id="pizza-description" name="description">
        </p>
        <button type="submit" class="btn">추가</button>
    </form>
</div>

<script>
    $(document).ready(function() {
        $('#add-pizza-form').submit(function(event) {
            event.preventDefault();
            const formData = new FormData(this);

            $.ajax({
                url: "/api/pizzas",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function() {
                    alert("피자가 추가되었습니다.");
                    window.location.href = "/pizzas";
                },
                error: function() {
                    alert("피자를 추가하는 데 실패했습니다.");
                }
            });
        });
    });

    $('#image').change(function() {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function() {
                $('#pizza-img').attr('src', reader.result).show();
            };
            reader.readAsDataURL(file);
        }
    });
</script>
</body>
</html>